@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  margin-right: 20px;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
}

.description {
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  margin-bottom: 20px;
}

.btnDiv {
  display: flex;
  gap: 1rem;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-text);
  border-radius: 2.5rem;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 500;
  transition: 0.2s ease-out;
  /* font-size: 30px; */
  /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); */
}
.contactBtn:hover {
  background-color: #7f96f1;
  transition: 0.2s ease-in;
}
.downloadBtn {
  text-decoration: none;
  background-color: var(--color-btn);
  color: var(--color-text);
  border-radius: 2.5rem;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 500;
  transition: 0.2s ease-out;
}

.downloadBtn:hover {
  background-color: #7f96f1;
  transition: 0.2s ease-in;
}

.heroImg {
  width: 50%;
  z-index: 1;
  border-radius: 50%;
  /* border: 2px solid rgb(88, 88, 88); */
  box-shadow: 2px 2px 20px rgba(102, 168, 248, 0.83);
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .title {
    margin-top: 1rem;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .description {
    font-size: 2rem;
    font-family: var(--font-roboto);
    margin-bottom: 25px;
    text-align: center;
  }

  .content {
    align-items: center;
  }
  .btnDiv {
    gap: 1rem;
  }
  .contactBtn {
    padding: 20px 25px;
    font-size: 24px;
    font-weight: 500;
  }
  .downloadBtn {
    padding: 20px 25px;
    font-size: 24px;
    font-weight: 500;
  }
}
@media screen and (max-width: 530px) {
  .title {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .description {
    font-size: 1rem;
    font-family: var(--font-roboto);
    margin-bottom: 25px;
    text-align: center;
  }
  .btnDiv {
    gap: 1rem;
  }
  .contactBtn {
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
  }
  .downloadBtn {
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
  }
}
